<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test page
        script
          include ../../node_modules/jquery/dist/jquery.js
          include ../doughnut.js
    body
      canvas#test


      script.
        init([130, 1, 65, 0])