<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test page
        script
          include ../../node_modules/jquery/dist/jquery.js
          include ../doughnut.js
    body
      canvas#test
      svg(version='1.0' xmlns='http://www.w3.org/2000/svg' width='256.000000pt' height='256.000000pt' viewBox='0 0 256.000000 256.000000' preserveAspectRatio='xMidYMid meet')
      g(transform='translate(0.000000,256.000000) scale(0.100000,-0.100000)' fill='#000000' stroke='none')


      script.
        init([130, 65, 65, 0])